.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9f8772;
  margin: 4px auto;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
.icone {
  color: white;
}
iconeContainer {
  display: flex;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
}
